<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Cocktails</h1>

      <p>
        <%= link_to 'New Cocktail', new_cocktail_path, class: 'btn btn-primary' %>
      </p>

      <ul>
        <% @cocktails.each do |cocktail| %>
          <li>
            <%= link_to cocktail_path(cocktail) do %>
              <%= cocktail.name %>
              - <%= cocktail.dose %>
              - <%=cocktail.ingredient%>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script type="text/javascript">
    console.log('hello from js in the view');
  </script>
<% end %>
